@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --color-boton: #c6785e;
  --color-icono: #d9a679;
  --color-hover-icono: #c6785e;
  --color-text: #e3ddd3;
  --color-fondo-pagina: #f5efe6;

  --fuente-principal: 'Cormorant Garamond', serif;
  --fuente-parrafos: 'Poppins', sans-serif;
}

body {
  font-family: var(--fuente-parrafos);
  background-color: var(--color-fondo-pagina);
  color: #333;
}

.card {
  border-radius: 10px;
  overflow: hidden;
}
h1{
  font-family: var(--fuente-principal);
   font-size: clamp(2.4rem, 5vw, 3.2rem);
    color: var(--color-fondo);
    text-align: center;
    margin-bottom: 10px;
}
.form-check-input {
  appearance: none;
  -webkit-appearance: none;
  background-color: #f8f3ef;
  border: 2px solid #a0785a;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.form-check-input:checked {
  background-color: #8b5e3c;
  border-color: #8b5e3c;
}

.form-check-input:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#searchInput:focus {
  border-color: #8b5e3c;
  box-shadow: 0 0 0 0.2rem rgba(139, 94, 60, 0.25);
}

.card img {
  height: 180px;
  object-fit: cover;
}

.card-body {
  padding: 0.75rem;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.card .btn {
  padding: 0.35rem 0.75rem;
  font-size: 0.9rem;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.btn-agregar {
  background-color: var(--color-boton);
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.btn-agregar:hover {
  background-color: var(--color-hover-icono);
}
